@tailwind base;
@tailwind components;
@tailwind utilities;

.debuggingArea {
	background-color: #aaa;
	font-size: .7rem;
	padding: 1rem;
	color: #000;
	font-family: 'Courier New', Courier, monospace;
	border: 3px solid #777;
	margin-top: 1rem;
}

.active {
	color: rgb(224, 146, 29);
}

body {
	animation: fadein .1s ease-in;
}

@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}