@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	button.formButton {
		@apply bg-gray-400 hover:bg-gray-300 text-gray-900 text-xs px-2 py-1 rounded;
	}
}

$appOrange: rgb(224, 146, 29);

.debuggingArea {
	background-color: #aaa;
	font-size: .7rem;
	padding: 1rem;
	color: #000;
	font-family: 'Courier New', Courier, monospace;
	border: 3px solid #777;
	margin-top: 1rem;
}

.pageAbout {
	h2 {
		color: $appOrange;
		background-color: #293546;
		padding: .2rem .5rem .4rem .5rem;
		border-radius: .5rem;
	}
	ul {
		list-style: disc;
		margin-left: 2rem;
		li {
			margin-top: .5rem;
			em {
				font-style: normal;
				color:yellow;
			}
		&:last-child {
			margin-bottom: 1rem;
		}
		}
	}
}

.active {
	color: $appOrange;
}

body {
	animation: fadein .1s ease-in;
}

form {
	input {
		color: #000;
	}
}

@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}