@tailwind base;
@tailwind components;
@tailwind utilities;

.debuggingArea {
	background-color: #aaa;
	font-size: .7rem;
	padding: 1rem;
	color: #000;
	font-family: 'Courier New', Courier, monospace;
	border: 3px solid #777;
	margin-top: 1rem;
}